/* Override some styles to match ZEISS branding */

/* Based on Read the Docs theme */
@import 'theme.css';

/* Use font "ZEISS Frutiger Next W1G" */
@font-face {
	font-family: "Frutiger Next";
	src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff2"),
	url("https://www.zeiss.com/etc.clientlibs/zeiss-aem-app/jupiter/clientlibs/jupiter-components.app/resources/assets/fonts/ZEISSFrutigerNextUI-Light.woff2") format("woff2"),
	url("https://www.zeiss.com/etc.clientlibs/zeiss-aem-app/jupiter/clientlibs/jupiter-components.app/resources/assets/fonts/ZEISSFrutigerNextUI-Reg.woff2") format("woff2"),
	url("https://www.zeiss.com/etc.clientlibs/zeiss-aem-app/jupiter/clientlibs/jupiter-components.app/resources/assets/fonts/ZEISSFrutigerNextUI-Medium.woff2") format("woff2"),
	url("https://www.zeiss.com/etc.clientlibs/zeiss-aem-app/jupiter/clientlibs/jupiter-components.app/resources/assets/fonts/ZEISSFrutigerNextUI-Bold.woff2") format("woff2");
}

:root {
    --font-family-frutiger: "Frutiger Next", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

html, body {
    font-family: var(--font-family-frutiger);
}

/* Changed from #2980b9 -> ZEISS Azure */
a {
    color: #0072EF;
}

/*
a:visited {
    color: #9b59b6;
}
*/

/* Changed from #298069 -> ZEISS Ultradark Gray */ 
.wy-side-nav-search {
    /* background: #343131; */
    background: #32373E;
}

/* Changed from #fcfcfc */
.wy-nav-content-wrap, .wy-body-for-nav, .wy-nav-content, .wy-dropdown-menu {
    background: #ffffff;
}

/* Changed from #6ab0de -> ZEISS Saphire */
.rst-content .note .admonition-title {
    background: #4C6BB1;
}

/* Changed from #e7f2fa -> ZEISS Ultralight Gray */
.rst-content .note {
    background: #DCE3E9;
}

/* Changed from #1abc9c -> ZEISS Green */
.rst-content .important .admonition-title, .rst-content .hint .admonition-title {
    background: #1E8565;
}

/* Changed from #dbfaf4 -> ZEISS Ultralight Gray */
.rst-content .important, .rst-content .hint {
    background: #DCE3E9;
}


/* Changed from #e74c3c -> ZEISS Purple Red */
.rst-content code.literal {
    color: #A70240;
}

/* Changed from #f8f8f8 -> ZEISS Semiwhite Gray */
pre {
    background: #F2F5F8;
}